*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./material/peakpx.jpg'); /* Ảnh background*/
    background-size:cover;
    color: black;
}

.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: rgba(245, 244, 244, 0.7);
    border-radius: 24px;
    overflow: hidden;
}

.container .music-space{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 65%;
    padding: 20px;
    margin-top: 30px;
}
.container .music-space .song-name{
    font-size: 2rem;
}
.container .music-space .artis{
    font-size: 1rem;
}
.container .music-space img{
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 24px;

}
.function{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.control-button div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(236, 58, 58, 0.97);
    box-shadow: 0 5px 5px rgba(24, 14, 14, 0.22);
    cursor: pointer;
}

.control-button div:hover{
    opacity: 0.7;
}

#progress{
    -webkit-appearance: none;
    width: 300px;
    height: 5px;
    background: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}
#progress::-moz-range-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
}

#progress::-moz-range-thumb {
    appearance: none;
    background: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
}
.progress-bar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar p{
    margin: 0 20px;
}

.container .playlist-space{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 35%;
    background-color: rgba(200, 214, 214, 0.29);
    position: relative;
}

.playlist-space .song-element{
    display: flex;
    width: 280px;
    margin: 10px;
    cursor: pointer;
    box-sizing: content-box;
}

.song-element:hover{
    padding: 10px 10px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
    transition: all .3s ease;
}
.playlist-space .song-element img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.playlist-space .song-element .text-content{
    margin-left: 10px;
}

.playlist-space .song-element .song-name{
    font-size: 1rem;
    font-weight: bold;
}
.playlist-space .song-element .artis{
    font-size: 0.7rem;
}
.playlist-space .search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    position: relative;
}

.playlist-space .music-list{
    margin-top: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.playlist-space .search #search-input{
    border-radius: 20px;
    background-color: rgba(255, 246, 246, 0.76);
    width: 250px;
    box-shadow: 0 5px 5px rgba(59, 40, 40, 0.22);
    padding-left: 5px;
}
#search-input:focus{
    outline: none;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    right: 0px;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 5px 5px rgba(59, 40, 40, 0.22);
}
#volume-change{
    rotate: -90deg;
    position: absolute;
    top: 250px;
    right: -50px;

}